.block
  .content                                                                                                                                                                         
    %h2.title Add Search
    = nested_form_for @search do |f|
      %h3 Name (referenced to in cron jobs):
      = f.text_field :name
      -if @search.errors.any?
        #error_explanation
          %h2= "#{pluralize(@search.errors.count, "error")} prohibited this search from being saved:"
          %ul
            - @search.errors.full_messages.each do |msg|
              %li= msg

      %div#groups
        = f.fields_for :groups

      .group.navform.wat-cf
        %button.button{:type => "submit"}
          = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
          = t("web-app-theme.save", :default => "Save")
        = f.link_to_add(:groups, class: 'button') do
          Add Group 
        %span.text_button_padding= t("web-app-theme.or", :default => "or")
        = link_to t("web-app-theme.cancel", :default => "Cancel"), root_url, :class => "text_button_padding link_button"
