%h1 Listing searches

%table
  %tr
    %th Status
    %th 
    %th Group
    %th
    %th

  - @searches.each do |search|
    %tr
      %td= search.finished? ? 'Complete' : 'Searching...'
      %td
      %td= search.groups.first.name 
      %td= link_to 'Show', search
      %td= link_to 'Edit', edit_search_path(search)
      %td= link_to 'Destroy', search, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Search', new_search_path
