
.block
  .content
    %h1.title Searches
    %div.inner
      %table.table
        %tr.first
          %th Name
          %th Group
          %th Email
          %th Status
          %th

        - @searches.each do |search|
          %tr{:class => cycle("odd", "even")}
            %td= (search.name.present?) ? search.name : ''
            %td= search.groups.first.name + search.ellipses
            %td= search.display_emails
            %td= search.finished? ? 'Complete' : 'In Progress'
            %td= raw search_link_paths(search)
%br

= link_to 'New Search', new_search_path
