.block
  .content
    %h2.title= "Results for #{@search.groups_to_sentence}"
    %div.inner
      - if @search.groups.first.search_results.present?
        %table.table
          %tr.first
            %th Name
            %th 
            %th 
            %th
            %th

          - @search.groups.first.search_results.split(',').each do |person|
            %tr{:class => cycle("odd", "even")}
              %td= person
              %td 
              %td 
              %td 
              %td

      - elsif @search.groups.first.search_errors.present?
        %div.flash
          %div.message.error
            %p= @search.groups.first.search_errors
      - else
        %div.flash
          %div.message.notice
            %p= "Searching, refresh in a couple seconds..."


-# %p
-#   %b Search errors:
-#   = @search.search_errors
-# %p
-#   %b Search results:
-#   = @search.search_results

= link_to 'Edit Search', edit_search_path(@search)
\|
= link_to 'All Searches', searches_path
