%p#notice= notice

- if @search.search_errors.present?
  = @search.search_errors
- elsif @search.search_results.present?
  = @search.search_results
- else
  %p#notice= "Searching, refresh in a couple seconds..."


-# %p
-#   %b Search errors:
-#   = @search.search_errors
-# %p
-#   %b Search results:
-#   = @search.search_results

= link_to 'Edit Search', edit_search_path(@search)
\|
= link_to 'All Searches', searches_path
