.block
  .content
    - if @search.finished?
      = render @search.groups
    - else
      %h1.title= @search.groups_to_sentence
      %div.flash
        %div.message.notice
          %p= "Searching, refresh in a couple seconds..."

.block#search-info
  .content
    %h1.title Options
    =link_to 'Download XLS', search_path(@search, format: 'xls'), class: 'button'
    -if @search.name.blank?
      Add name to send email.
    - else
      =link_to 'Send Email Now', search_and_email_path(@search.name), class: 'button'
    %br
    %br
    %br
    %br

    =nested_form_for @search do |f|
      %div#groups
        = f.label :email_message, "Email Message:"
        = f.text_area :email_message
      %div#groups
        = f.fields_for :user_emails

      .group.navform.wat-cf
        %button.button{:type => "submit"}
          = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
          = t("web-app-theme.save", :default => "Save")
        = f.link_to_add(:user_emails, class: 'button') do
          Add Email

= link_to 'Edit Search', edit_search_path(@search)
\|
= link_to 'All Searches', searches_path
