!!!
%html
  %head
    %title LDAP Lookup
    = stylesheet_link_tag 'web_app_theme'
    = stylesheet_link_tag "application"
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} LDAP Lookup
        #user-navigation
          %ul.wat-cf
            %li
              %a{:href => searches_url}= t("web-app-theme.profile", :default => "Searches")
            %li
              %a{:href => new_search_url}= t("web-app-theme.profile", :default => "New Search")
        #main-navigation
          %ul.wat-cf
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Dartmouth College
        #sidebar
          = yield :sidebar
